<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd"  default-autowire="byName">
    <!-- spring配置文件，这里主要配置和逻辑有关的 -->
    <!--数据源，事务控制，xxx -->
    <!--除了控制器都要扫描 -->
    <context:component-scan base-package="com.group5">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Controller" />
    </context:component-scan>
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <bean id="PoolDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
        <property name="driverClass" value="${jdbc.driverClass}"></property>
        <property name="user" value="${jdbc.user}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>
    <!--配置spring和mabatis的整合 -->

    <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--指定mybatis的全局配置文件 -->
        <property name="configLocation" value="classpath:spring-mybatis.xml"></property>
        <!--配置数据源 -->
        <property name="dataSource" ref="PoolDataSource"></property>
        <!--配置mybatis映射文件 -->
        <property name="mapperLocations" value="classpath:mapper/*.xml"></property>
    </bean>
    <!-- 设置扫描器，将mybatis的解口实现类添加到ioc容器中 -->
    <bean name="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.group5.dao"></property>
    </bean>
    <!--配置批量的sqlSession -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg name="sqlSessionFactory" ref="sqlSessionFactoryBean"></constructor-arg>
        <constructor-arg name="executorType" value="BATCH"></constructor-arg>
    </bean>
    <!-- 配置事务管理器 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="PoolDataSource"></property>
    </bean>

    <bean id="commonsMultipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760"></property>
        <property name="defaultEncoding" value="utf-8"></property>
    </bean>


    <!--<aop:config>-->
    <!---->
    <!--&lt;!&ndash;切点表达式 &ndash;&gt;-->
    <!--<aop:pointcut expression="execution(* com.lyl.blog.service..*(..))"-->
    <!--id="txPointCut" />-->
    <!--&lt;!&ndash;配置事物增强 &ndash;&gt;-->
    <!--<aop:advisor advice-ref="txAdvice" pointcut-ref="txPointCut" />-->
    <!--</aop:config>-->
    <!--&lt;!&ndash;配置事物增强 &ndash;&gt;-->
    <!--<tx:advice id="txAdvice" transaction-manager="transactionManager">-->
    <!--<tx:attributes>-->
    <!--<tx:method name="*" />-->
    <!--<tx:method name="get*" read-only="true" />-->
    <!--</tx:attributes>-->
    <!--</tx:advice>-->

    <task:annotation-driven/>
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- set the max upload size100MB -->
        <property name="maxUploadSize">
            <value>104857600</value>
        </property>
        <property name="maxInMemorySize">
            <value>4096</value>
        </property>
    </bean>
</beans>
