<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
       default-lazy-init="true">

  <!-- 配置权限管理器 -->
  <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
    <!-- 使用下面配置的缓存管理器 -->
    <property name="realms" ref="myrealms"/>

  </bean>

  <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
    <property name="securityManager" ref="securityManager"/>
      <property name="loginUrl" value="/login"/>
    <property name="unauthorizedUrl" value="/login"/>
    <property name="filterChainDefinitions">
      <value>
        /login=anon
        /userpage=perms[user:log]
        /edit=perms[user:page]
      </value>
    </property>


  </bean>
  <bean id="myrealms" class="com.group5.shiro.UserRealm">
    <property name="credentialsMatcher">
      <bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <!-- MD5加密 -->
        <property name="hashAlgorithmName" value="MD5"/>
        <!-- 加密次数 -->
        <property name="hashIterations" value="3"/>
      </bean>
    </property>
  </bean>



</beans>