#header {
    height: 80px;
    width: 100%;
    background-color: #63C1FC;
}

#header p {
    color: white;
    font-size: 28px;
    float: left;
    padding-left: 15%;
    height: 20px;
    line-height: 20px;
}

#header ul {
    margin: 0px;
    list-style: none;
}

#header ul li {
    list-style-type: none;
    float: left;
    padding-left: 7%;
    color: white;
    height: 80px;
    line-height: 80px;
}

#header ul li a {
    color: white;
    text-decoration: none;
}

#header ul li:hover {
    font-family: Georgia;
    font-size: 20px;
}

.edit_data {
    font-family: Georgia;
    font-size: 20px;
}


/*左侧导航栏的样式*/

#left {
    float: left;
    margin-top: 40px;
    margin-left: 15%;
    width: 11%;
    background-color: #EBEBF3;
}

#name {
    margin-top: 120px;
    text-align: center;
}


/*左侧菜单栏的样式*/

#left_menu ul {
    margin: 0px;
    list-style: none;
    padding-inline-start: 20px;
    padding-bottom: 50px;
}

#left_menu ul li {
    margin-top: 50px;
    list-style-type: none;
}

#left_menu ul li a {
    color: black;
    text-decoration: none;
}

#left_menu ul li a:hover {
    color: purple;
}

#left_menu ul li img {
    float: right;
    right: 5%;
    margin-top: -3px;
}


/*头像的样式*/

#touxiang {
    position: absolute;
    top: 150px;
    left: 18%;
    min-width: 80px;
    height: 80px;
    background: url('../WEB-INF/img/touxiang.jpg') no-repeat;
    background-size: cover;
    display: block;
    border-radius: 40px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}


/*右侧内容样式*/

iframe {
    float: right;
    padding-right: 15%;
    margin-top: 40px;
    width: 55%;
    border: 0;
    height: 750px;
    padding-bottom: 50px;
}