#email {
    height: 30px;
    margin-top: 40px;
    width: 30%;
    text-align: center;
    background-color: #C9C3D8;
    margin-left: 4%;
}

#code {
    height: 30px;
    margin-top: 40px;
    width: 15%;
    text-align: center;
    background-color: #C9C3D8;
    margin-left: 1%;
}

#code1 {
    height: 38px;
    margin-top: 40px;
    width: 14%;
    text-align: center;
    background-color: #32A5F1;
    color: white;
    border: 0px;
    border-radius: 7px;
}


/*进入下一步按钮的样式*/

#next {
    height: 38px;
    margin-top: 80px;
    width: 14%;
    text-align: center;
    background-color: #32A5F1;
    color: white;
    border: 0px;
    border-radius: 7px;
}

#next1 {
    height: 38px;
    margin-top: 80px;
    width: 14%;
    text-align: center;
    background-color: #32A5F1;
    color: white;
    border: 0px;
    border-radius: 7px;
}

#repassword {
    height: 30px;
    margin-top: 40px;
    width: 30%;
    text-align: center;
    background-color: #C9C3D8;
    margin-left: 1%;
}