#header {
    height: 80px;
    width: 100%;
    background-color: #63C1FC;
}

#header p {
    color: white;
    font-size: 28px;
    float: left;
    padding-left: 15%;
    height: 20px;
    line-height: 20px;
}

#header ul {
    margin: 0px;
    list-style: none;
}

#header ul li {
    list-style-type: none;
    float: left;
    padding-left: 7%;
    color: white;
    height: 80px;
    line-height: 80px;
}

#header ul li a {
    color: white;
    text-decoration: none;
}

#header ul li:hover {
    font-family: Georgia;
    font-size: 20px;
}

#loginout {
    float: right;
    border: 1px solid #63C1FC;
    margin-right: 5%;
    margin-top: 22px;
    color: white;
    font-size: 22px;
    background-color: #63C1FC;
}