<!DOCTYPE html>
<html>

<head>
    <meta charset=UTF-8" />
    <link rel="stylesheet" href="../css/login.css" type="text/css">
    <script src="../../js/jquery-3.4.1.min.js"></script>
    <script src="../../js/login.js"></script>
</head>

<body>
    <div class="top">
        <img src="../../img/login.png" alt="">
    </div>
    <div id="middle">
        <div class="left">
            <img src="../../img/weixin.jpg" alt="扫码关注维纳斯婚恋网官方微信" width="300px" ,height="300px">
            <br/><br/> 扫码关注维纳斯婚恋网官方微信
        </div>
        <div class="right">

            账 &nbsp&nbsp号： <input  type="text" name="name"><br/><br/><br/> 密 &nbsp&nbsp码：
            <input type="password" name="password"><br/><br/><br/> 验证码：
            <input type="text" name="验证码" id="identify_code">&nbsp&nbsp<span id="code_2">6s8f</span><span id="code_1">&nbsp&nbsp看不清，换一张</span><br/><br/><br/>
            <button type="submit" id="login" onclick="" disabled="disabled">登录</button><button id="desiger">注册</button>

        </div>
    </div>

    <div id="middle_desiger">

        <span id="desiger_span">注册
        </span><br/><br/> 用户名： <input type="text" name="name1"><br/><br/> 密&nbsp&nbsp码 ：
        <input type="password" name="password1"><br/><br/> 邮 箱 ：
        <input type="text" name="mail"><br/><br/>
        <span id="phone_code_2"><input type="phone_code" name="phone_code" id="phone_code" placeholder="请输入邮箱验证码"><button id="phone_code1" onclick="">点击获取</button><br/></span>
        <br/>
        <span id="xieyi"><input type="checkbox" name="agreement" value="agree" >我已同意维纳斯婚恋网使用协议</span><br/>
        <br/>
        <button id="login_1">登录</button>
        <button type="submit" id="desiger_1" disabled="disabled">注册</button>

    </div>
    <div class="bottom">
        <div class="bottom_left">
            友情链接：<br><br>
            <a href="https://www.zhenai.com/?channelId=900122">珍爱网&nbsp&nbsp&nbsp&nbsp&nbsp</a> <a href="http://tv.jstv.com/fcwr/">非诚勿扰&nbsp&nbsp&nbsp&nbsp&nbsp</a> <a href="https://www.bilibili.com/">bilibili</a>
        </div>
        <div class="bottom_right">
            合作企业：<br><br> 成都大学&nbsp&nbsp&nbsp&nbsp&nbsp 非诚勿扰 &nbsp&nbsp&nbsp&nbsp&nbsp阿里巴巴
        </div>
    </div>

</body>

</html>